ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #eea29a;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #c94c4c;
  }
  
  .active {
    background-color: #4CAF50;
  }
  .hi{
    padding-top: 50px;
    font-size: 50px;
    text-align: center;
    height: 180px;
    width :100%;
    margin: 0%;
    color: white;
    background-image: url("home-banner-1.jpg");
  }